<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="true" throwConfigExceptions="true">
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="${var:tempFolderPath}\logs\main-${shortdate}.log" layout="${date}|${level:uppercase=true}| ${message} ${exception}|${logger}|${all-event-properties}"/>
  </targets>
  <rules>
    <logger name="pages" minlevel="Info" writeTo="fileTarget"/>
    <logger name="playerController" minlevel="Info" writeTo="fileTarget"/>
  </rules>
</nlog>