<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true" throwExceptions="true">
  <targets>
    <target xsi:type="File"
            name="ui"
            fileName="${var:localFolderPath}\logs\ui.log"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            archiveOldFileOnStartup="true"
            archiveFileName="${var:tempFolderPath}\logs\UI\{#}.log"
            layout="${date}|${level:uppercase=true}| ${message} ${exception}|${logger}|${all-event-properties}"/>
    <target xsi:type="File"
            name="background"
            fileName="${var:localFolderPath}\logs\background.log"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            archiveOldFileOnStartup="true"
            archiveFileName="${var:tempFolderPath}\logs\Background\{#}.log"
            layout="${date}|${level:uppercase=true}| ${message} ${exception}|${logger}|${all-event-properties}"/>
  </targets>
  <rules>
    <logger name="app" writeTo="ui" minlevel="Info"/>
    <logger name="ui" writeTo="ui" minlevel="Info"/>
    <logger name="unitTest" writeTo="ui" minlevel="Info"/>

    <logger name="service" writeTo="background" minlevel="Info"/>
  </rules>
</nlog>