<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwConfigExceptions="true">
  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${var:localFolderPath}\logs\main.log"
            maxArchiveFiles="9"
            archiveNumbering="Sequence"
            archiveOldFileOnStartup="true"
            archiveFileName="${var:tempFolderPath}\logs\main-{#}.log"
            layout="${date}|${level:uppercase=true}| ${message} ${exception}|${logger}|${all-event-properties}"/>
  </targets>
  <rules>
    <logger name="pages" minlevel="Info" writeTo="fileTarget"/>
    <logger name="player" minlevel="Info" writeTo="fileTarget"/>
    <logger name="viewModel" minlevel="Info" writeTo="fileTarget"/>
  </rules>
</nlog>